BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;
TEMPERATURE 60.000 C;
BANK 0 VCCIO 2.5 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 1.8 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 1.8 V;
IOBUF PORT "i2s1_d0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi1_clk" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi1_cs0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi1_cs2" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi1_mosi" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi3_clk" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi3_cs0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi3_cs3" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi3_mosi" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i2s1_sck" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i2s1_ws" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i2s2_d0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i2s2_d1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i2s2_sck" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i2s2_ws" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi1_miso" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi3_miso" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "l_lvds_io" IO_TYPE=BLVDS25E SLEWRATE=FAST ;
IOBUF PORT "r_lvds_io" IO_TYPE=BLVDS25E SLEWRATE=FAST ;
LOCATE COMP "l_lvds_io" SITE "A5" ;
LOCATE COMP "r_lvds_io" SITE "A13" ;
LOCATE COMP "spi1_mosi" SITE "R10" ;
LOCATE COMP "spi1_miso" SITE "T11" ;
LOCATE COMP "spi3_clk" SITE "T13" ;
LOCATE COMP "spi3_mosi" SITE "R12" ;
LOCATE COMP "spi3_cs0" SITE "R13" ;
LOCATE COMP "spi1_cs2" SITE "T12" ;
LOCATE COMP "spi1_cs0" SITE "R11" ;
LOCATE COMP "spi1_clk" SITE "T10" ;
LOCATE COMP "i2s1_sck" SITE "T2" ;
LOCATE COMP "i2s2_sck" SITE "T4" ;
LOCATE COMP "i2s1_ws" SITE "R3" ;
LOCATE COMP "i2s2_ws" SITE "R5" ;
LOCATE COMP "i2s2_d0" SITE "T5" ;
LOCATE COMP "i2s1_d0" SITE "T3" ;
LOCATE COMP "ext_clk_in" SITE "E2" ;
LOCATE COMP "spi3_cs3" SITE "T15" ;
LOCATE COMP "i2s2_d1" SITE "R6" ;
LOCATE COMP "spi3_miso" SITE "T14" ;
IOBUF PORT "ext_clk_in" IO_TYPE=LVCMOS18 PULLMODE=NONE HYSTERESIS=LARGE ;
LOCATE COMP "test_l1" SITE "L1" ;
LOCATE COMP "test_l2" SITE "L2" ;
LOCATE COMP "test_m1" SITE "M1" ;
LOCATE COMP "test_m2" SITE "M2" ;
IOBUF PORT "test_l1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "test_l2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "test_m1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "test_m2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "spi4_clk" SITE "T8" ;
IOBUF PORT "spi4_clk" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "adc_clk" SITE "C16" ;
IOBUF PORT "adc_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "adc_interrupt" SITE "T7" ;
IOBUF PORT "adc_interrupt" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "adc_pdwn" SITE "D15" ;
IOBUF PORT "adc_pdwn" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "spi4_miso" SITE "R9" ;
IOBUF PORT "spi4_miso" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "spi4_cs" SITE "R8" ;
IOBUF PORT "spi4_cs" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "adc_data[0]" SITE "D16" ;
LOCATE COMP "adc_data[1]" SITE "E15" ;
LOCATE COMP "adc_data[2]" SITE "E16" ;
LOCATE COMP "adc_data[3]" SITE "F15" ;
LOCATE COMP "adc_data[4]" SITE "F16" ;
LOCATE COMP "adc_data[5]" SITE "G15" ;
LOCATE COMP "adc_data[6]" SITE "G16" ;
LOCATE COMP "adc_data[7]" SITE "H15" ;
LOCATE COMP "adc_data[8]" SITE "H16" ;
LOCATE COMP "adc_data[9]" SITE "J15" ;
LOCATE COMP "adc_data[10]" SITE "J16" ;
LOCATE COMP "adc_data[11]" SITE "K15" ;
IOBUF PORT "adc_data[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "mute_sync" SITE "R7" ;
IOBUF PORT "mute_sync" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
