.play-button {
  outline: none !important;
  border: none;
  background: none;
  font-size: 50px;
}

.play-button:hover {
  color: #333;
}

.play-button:active {
  color: #666;
}

.word {
  font-size: 40px !important;
}
/*
.word {
  outline: none !important;
  height: 200px;
  font-family: georgia;
  font-size: 60px;
  font-weight: bold;
  border-width: medium;
  border-radius: 25px;
  border-color: #3ebdcf;
  background-color: white;
}
.word:hover {
  background-color: #ddd;
}
.selected {
  background-color: rgb(255, 153, 51) !important;
}

#next {
  outline: none !important;
  height: 80px;
  background-color: rgba(62, 189, 207, 0.5);
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
}

#next:hover {
  background-color: rgba(62, 189, 207, 1);
}
*/
